@using SMAS.Web.Features.Account.Models
@model SMAS.Web.Features.Account.Models.NeedPasswordViewModel

@{
    PageSettings.Title = "Need Password";
}

<p>
    If you have lost or forgotten your password please enter your email address in the form below and we will send you instructions on how to reset your password.
</p>

<form-wrapper columns="6">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <form-section class="mdl-card mdl-card--expand mdl-shadow--6dp">
            <form-group>
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </form-group>
            <form-buttons>
                <button type="submit" class="btn btn-default">Send Instructions</button>
            </form-buttons>
        </form-section>
    </form>
</form-wrapper>
