@model SMAS.Entities.Address

<form-group>
    <label asp-for="CityArea">Area</label>
    <input asp-for="CityArea" class="form-control" />
    <span asp-validation-for="CityArea"></span>
</form-group>
<form-group>
    <label asp-for="AddressLine1">Block</label>
    <input asp-for="AddressLine1" class="form-control" />
    <span asp-validation-for="AddressLine1"></span>
</form-group>
<form-group>
    <label asp-for="AddressLine2">Jadda</label>
    <input asp-for="AddressLine2" class="form-control" />
</form-group>
<form-group>
    <label asp-for="AddressLine3">Street</label>
    <input asp-for="AddressLine3" class="form-control" />
</form-group>
<form-group>
    <label asp-for="AddressLine4">Building</label>
    <input asp-for="AddressLine4" class="form-control" />
</form-group>
