@using SMAS.Web.Core.Configuration
@model dynamic
@{
    PageSettings.Title = "Home";
}
<div class="bg-color-sky-light" data-auto-height="true">
    <div class="content-lg container">
        <div class="row row-space-1 margin-b-2">
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon fa fa-facebook"></i>
                        </div>
                        <div class="service-info">
                            <h3>Socal Media</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon fa  fa-newspaper-o"></i>
                        </div>
                        <div class="service-info">
                            <h3>Advertising</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon fa fa-mobile"></i>
                        </div>
                        <div class="service-info">
                            <h3>Mobile Application</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--// end row -->

        <div class="row row-space-1">
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon fa fa-html5"></i>
                        </div>
                        <div class="service-info">
                            <h3>Websites</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon fa fa-vcard-o"></i>
                        </div>
                        <div class="service-info">
                            <h3>Design</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon fa fa-cloud"></i>
                        </div>
                        <div class="service-info">
                            <h3>Hosting</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>

<div class="bg-color-sky-light">
    <div class="content-lg container">
        <div class="row row-space-1">
            <div class="col-sm-4 sm-margin-b-2">
                <!-- Pricing -->
                <div class="pricing">
                    <div class="margin-b-30">
                        <i class="pricing-icon icon-chemistry"></i>
                        <h3>Starter Kit <span> - $</span> 49</h3>
                        <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                    </div>
                    <ul class="list-unstyled pricing-list margin-b-50">
                        <li class="pricing-list-item">Basic Features</li>
                        <li class="pricing-list-item">Up to 5 products</li>
                        <li class="pricing-list-item">50 Users Panels</li>
                    </ul>
                    <a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
                </div>
                <!-- End Pricing -->
            </div>
            <div class="col-sm-4 sm-margin-b-2">
                <!-- Pricing -->
                <div class="pricing pricing-active">
                    <div class="margin-b-30">
                        <i class="pricing-icon icon-badge"></i>
                        <h3>Professional <span> - $</span> 149</h3>
                        <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                    </div>
                    <ul class="list-unstyled pricing-list margin-b-50">
                        <li class="pricing-list-item">Basic Features</li>
                        <li class="pricing-list-item">Up to 100 products</li>
                        <li class="pricing-list-item">100 Users Panels</li>
                    </ul>
                    <a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
                </div>
                <!-- End Pricing -->
            </div>
            <div class="col-sm-4">
                <!-- Pricing -->
                <div class="pricing">
                    <div class="margin-b-30">
                        <i class="pricing-icon icon-shield"></i>
                        <h3>Advanced <span> - $</span> 249</h3>
                        <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                    </div>
                    <ul class="list-unstyled pricing-list margin-b-50">
                        <li class="pricing-list-item">Extended Features</li>
                        <li class="pricing-list-item">Unlimited products</li>
                        <li class="pricing-list-item">Unlimited Users Panels</li>
                    </ul>
                    <a href="pricing.html" class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
                </div>
                <!-- End Pricing -->
            </div>
        </div>
        <!--// end row -->
    </div>
</div>