<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="telerik.com" value="https://nuget.telerik.com/nuget" />
  </packageSources>
  <disabledPackageSources>
    <add key="https://www.nuget.org/api/v2/" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <telerik.com>
      <add key="Username" value="andy.mehalick@orangejetpack.com" />
      <add key="ClearTextPassword" value="nGjQPsP86kPkrv" />
    </telerik.com>
  </packageSourceCredentials>
</configuration>
