@import "_variables";

a {
    color: $primary;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

h1 {
    margin: 0 0 24px 0;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
}

h2 {
    margin: 0 0 20px 0;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
}